@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");

html {
  cursor: url(https://cur.cursors-4u.net/nature/nat-3/nat260.cur), auto;
}
body {
  font-family: "Spartan", sans-serif;
}
.App {
  font-family: "Spartan", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

